<div class="footer">
    <!-- 友情链接 -->
    <div class="friendlink">
        <span>友情链接 :</span>
        <div class="link-content">
            <ul>
                <li><a href="http://nodejs.cn/">nodeJS中文网</a></li>
            </ul>
        </div>
    </div>

    <!-- 版本信息 -->
    <div class="banquan">
        <p>nodeJS学习demo&copy;CopyRight2015</p>
    </div>
</div>